<!doctype html>
<html>
  <head>
    <title>Instajobs</title>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <%= stylesheet_link_tag "landing", debug: true %> 
    <script type="text/javascript" src="//cdn.optimizely.com/js/2872230701.js"></script>
    
    <%= render 'layouts/favicon' %>
  </head>
  <body>
    <div class="page">
      <h1>Instajobs</h1>
      <p class="tagline">Get hired now!</p>

      <form action="//github.us10.list-manage.com/subscribe/post?u=427e86239cee61ecc90bb70d2&amp;id=f6f82b78df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
        <p>Instajobs will help you find temporary jobs quickly, by marking jobs you like. Employers will mark candidates they like and we'll notify you when there's a match. It's like Tinder, but for jobs! Enter your email below to get notified when we launch.</p>
  
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your e-mail address" autocomplete="off" required /><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn" />
        <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_427e86239cee61ecc90bb70d2_f6f82b78df" tabindex="-1" value=""></div>
      </form>

      <div class="footer">
        <p>Instajobs is currently being developed by the community <a href="https://assembly.com/instajobs/bounties" target="_blank">on Assembly</a>.</p>
        <p>Copyright &copy;2015 Instajobs. All rights reserved.</p>
      </div>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <script type="text/javascript">!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1"; analytics.load("yPhYGd9huZXFzc8AVwVyg5SR2BYadDXP"); analytics.page() }}();</script>
  </body>
</html>
