.container.postJob
	.row
		.col-md-5
			.row
				.col-md-7
					%h4
						My Companies
				.col-md-5
					%button.instabtn{"ng-click" => "ncf = !ncf"}
						New Company
			%br
			.row{"ng-show" => "ncf"}
				.col-md-12
					%form{"role" => "form", :novalidate => '', "ng-model" => "newcompany", "name" => "newcform", "ng-submit" => "newcform.$valid && createCompany(newcompany)"}
						%input.form-control{"ng-model" => "newcompany.name", "placeholder" => "Company Name", "ng-required" => "true"}
						%br
						%input.form-control{"ng-model" => "newcompany.url", "placeholder" => "Website", "ng-required" => "true"}
						%br
						%input.instabtn{"type" => "submit", "ng-value" => "ncfbtnval", "ng-disabled" => "!newcform.$valid"}

			%hr
			%input{'ng-model' => 'cname', "placeholder" => 'Search Company Name', :class => "form-control"}
			%br
			%div{"ng-repeat" => 'company in mycompanies | filter : cname'}
				%a.cname{'ng-click' => "updateJobs(company)"}
					{{company.name}}
		.col-md-7
			.row
				.col-md-9
					%h4{'ng-hide' => 'selectedc'}
						All Jobs
					%h4{'ng-show' => 'selectedc'}
						My Jobs
						%span
							in {{selectedc.name}}
				.col-md-3
					%button.instabtn{"ng-click" => "njf = !njf"}
						New Job
			%br
			.row{"ng-show" => "njf"}
				.col-md-12
					%form{"role" => "form", :novalidate => '', "ng-model" => "newjob", "name" => "newjform", "ng-submit" => "newjform.$valid && createJob(newjob)"}
						%input.form-control{"ng-model" => "newjob.title", "placeholder" => "Job Title", "ng-required" => "true"}
						%br
						%textarea.form-control{"ng-model" => "newjob.description", "placeholder" => "Description", "ng-required" => "true"}
						%br
						.row
							.col-md-6
								%input.form-control{"ng-model" => "newjob.salary", "placeholder" => "Salary", "type "=> "number", "ng-required" => "true"}
							.col-md-6
								%input.form-control{"ng-model" => "newjob.hours", "placeholder" => "Hours", "type" => "number", "ng-required" => "true"}
						%br
							.row
								.col-md-6
									%input.form-control{"ng-model" => "newjob.lat", "ng-show" => "!autoloc", "placeholder" => "Latitude", "type "=> "number"}
									%p{"ng-show" => "autoloc"}
										Latitude - {{lat}}
								.col-md-6
									%input.form-control{"ng-model" => "newjob.lng", "ng-show" => "!autoloc", "placeholder" => "Longitude", "type "=> "number"}
									%p{"ng-show" => 'autoloc'}
										Longitutde - {{lng}}
						%br
							%input{"type" => "checkbox", "ng-click" => "toggleLatLng()"}
								Use My Location
						%br
						%input.instabtn{"type" => "submit", "ng-value" => "ncfbtnval", "ng-disabled" => "!newjform.$valid"}
			%hr
			%input{'ng-model' => 'jname', "placeholder" => 'Search Job Title', :class => "form-control"}
			%br
			%div.jobdiv{"ng-repeat" => 'job in showjobs track by $index | filter : jname'}
				.row
					.col-md-5
						%h4.jtitle
							{{job.title}}
					.col-md-5
						%p.datetime
							Created at - {{job.created_at | date : format : timezone}}
					.col-md-1.elink
						%span.glyphicon.glyphicon-pencil
					.col-md-1.elink
						%span.glyphicon.glyphicon-trash
				.row
					.col-md-12
						%p
							Description - {{job.description}}
				.row
					.col-md-6
						%p
							Salary - {{job.salary}}
					.col-md-6
						%p
							Hours - {{job.hours}}
				.row
					.col-md-6
						%p
							Location - Lat({{job.location[0]}}), Lng({{job.location[1]}})
					.col-md-6
						%p
							Users Liked - {{job.user_ids.length}}
