.loginbox{
	min-width: 43.15em;
	width: 43.15em;
	@include outer-container;
	.logo{
		text-align: center;
	}
	.nav{
		@include span-columns(12 of 12);
		margin: auto;
		a{
			font-size: 2em;
			font-family: $font_family;
			color: #000;
			text-decoration: none;
			&.selected{
				color: $primary_color;
			}
		}
		.signbtn{
			@include span-columns(6 of 12);
			text-align: center;
		}
		.logbtn{
			text-align: center;
			@include span-columns(6 of 12);
		}
	}
	.clearfix{
		clear: both;
	}
	.signupform{
		margin-top: 2em;
		padding: 3em;
		@include border-lr($primary_color);
		.form-control::-webkit-input-placeholder{
			font-family: $font_family;
		}
		.form-control::-moz-placeholder{
			font-family: $font_family;
		}
		.form-control::-ms-input-placeholder{
			font-family: $font_family;
		}
		.form-control::placeholder{
			font-family: $font_family;
		}
		.submitbtn{
			@include button-insta($primary_color);
		}
		.fblogin{
			background-color: #477dca;
			color: #fff;
			border: none;
			padding: 1em;
		}
	}
	.loginform{
		display: none;
		margin-top: 2em;
		padding: 3em;
		@include border-lr($primary_color);
		.form-control::-webkit-input-placeholder{
			font-family: $font_family;
		}
		.form-control::-moz-placeholder{
			font-family: $font_family;
		}
		.form-control::-ms-input-placeholder{
			font-family: $font_family;
		}
		.form-control::placeholder{
			font-family: $font_family;
		}
		.submitbtn{
			@include button-insta($primary_color);
		}
		.fblogin{
			background-color: #477dca;
			color: #fff;
			border: none;
			padding: 1em;
		}
	}
	
}