// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainNav{
	button.navbar-toggle{
		background-color: #000;
		span.icon-bar{
			background-color: $primary_color;
		}
	}
	.navbar-collapse.collapse{
		a{
			cursor: pointer;
			font-family: $font-family;
			color: #000;
			// border-right: 1px solid #000;
			&:hover{
				color: $primary_color;
				background-color: #fff;
			}
		}
	}
}
.postJob{
	font-family: $font-family;
	.instabtn{
		@include button-insta($primary_color);
	}
	a{
		color: $primary_color;
	}
	.cname{
		cursor: pointer;
		&:hover{
			color: $primary_color;
		}
	}
	.jobdiv{
		@include border(#000);
		margin-bottom: 2em;
		padding: 1em;
	}
	.datetime{
		text-transform: italic;
		color: gray;
		font-size: small;
	}
	.jtitle{
		color: $primary_color;
	}
	.elink{
		cursor: pointer;
		&:hover{
			color: $primary_color;
		}
	}
}
.allJobs{
	font-family: $font-family;
	.title{
		color: $primary_color;
	}
	.jobdiv{
		@include border(#000);
		margin: 0.5em;
		padding: 1em;
		min-height: 25em;
	}
	.datetime{
		text-transform: italic;
		color: gray;
		font-size: small;
	}
	@media (min-width: 992px){
		.col-md-3 {
		  width: 31%;
		}
	}
	.like{
		font-size: 20px;
		span:hover{
			cursor: pointer;
			color: $primary_color;
		}
	}
	.descdiv{
		min-height: 15em;
	}
}
.jobsNear{
	font-family: $font-family;
	.angular-google-map-container{
		height: 23em;
	}
	.loadinggif{
		position: absolute;
		z-index: 89;
		top: 50%;
		left: 50%;
	}
	.jobdiv{
		@include border(#000);
		margin: 0.5em;
		padding: 1em;
		min-height: 25em;
	}
	@media (min-width: 992px){
		.col-md-3 {
		  width: 31%;
		}
	}
	.like{
		font-size: 20px;
		span:hover{
			cursor: pointer;
			color: $primary_color;
		}
	}
	.descdiv{
		min-height: 15em;
	}
	.title{
		color: $primary_color;
	}
	.infowindow{
		display: none;
		text-transform: uppercase;
		position: absolute;
		top: 30%;
		left: 45%;
		z-index: 555;
		background-color: lighten(#000, 10%);
		color: $primary_color;
		padding: 0.5em 1em;
	}
}