$primary_color: #C11A2F;
$font-family: $verdana;

@mixin border($color){
	border: 1px solid $color;
}

@mixin button-insta($color){
	border: none;
	padding: 1em;
	background-color: $color;
	color: #fff;
	cursor: pointer;
	transition: ease 0.2s all;
	&:hover{
		background-color: #fff;
		color: $color;
	}
}

@mixin shadow(){
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}