$primary_color: #C11A2F;
$font-family: $verdana;

@mixin border-lr($color){
	border-left: 1px solid $color;
	border-right: 1px solid $color;
}

@mixin button-insta($color){
	border: none;
	padding: 1em;
	background-color: $color;
	color: #fff;
	cursor: pointer;
	transition: ease 0.2s all;
	&:hover{
		background-color: #fff;
		color: $color;
	}
}
